@media screen and (min-width: 1100px) {
  .sp {
    display: none !important;
  }
}

.pc {
  display: none !important;
}

@media screen and (min-width: 1100px) {
  .pc {
    display: block !important;
  }
}

#site-project > section {
  padding-top: 70rem;
  padding-bottom: 80rem;
  background-position: center top 70rem;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1100px) {
  #site-project > section {
    background-position: top center;
    height: 600px;
    background-size: 1920px 600px;
    padding-top: 115px;
  }
}

#site-project > section .container {
  position: relative;
}

#site-project > section .container .section-title {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 410rem;
  display: block;
  margin: 0 auto;
  color: #000;
  border-bottom: 2rem solid #000;
  font-size: 32rem;
  padding: 30rem 0;
  line-height: 1em;
  background-color: #fff;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .section-title {
    padding: 20px 0;
    border-bottom-width: 1px;
    background-color: transparent;
    width: 255px;
    font-size: 25px;
    -webkit-transform: none;
            transform: none;
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}

#site-project > section .container .section-title span.icon {
  height: 48rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .section-title span.icon {
    height: 32px;
  }
}

#site-project > section .container .section-title span.icon svg {
  width: 60rem;
  height: 48rem;
  fill: #496e43;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .section-title span.icon svg {
    height: 30px;
    width: 40px;
  }
}

#site-project > section .container .section-title::before, #site-project > section .container .section-title::after {
  content: "";
  position: absolute;
  width: calc((100% - 100rem) / 2);
  height: 0;
  border-bottom: 2rem solid;
  top: 0;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .section-title::before, #site-project > section .container .section-title::after {
    border-bottom: 1px solid;
    width: calc((100% - 62px) / 2);
  }
}

#site-project > section .container .section-title::before {
  left: 0;
}

#site-project > section .container .section-title::after {
  right: 0;
}

#site-project > section .container .detail {
  background-position: top center;
  background-repeat: no-repeat;
  margin-left: -40rem;
  margin-right: -40rem;
  padding-top: 80rem;
  text-align: center;
  font-size: 28rem;
  height: 770rem;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .detail {
    margin: 0;
    height: auto;
    font-size: 16px;
    width: 255px;
    padding-top: 20px;
    text-align: left;
  }
}

#site-project > section .container .more-action {
  display: block;
  margin-top: 25rem;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .more-action {
    width: 255px;
    margin-top: 25px;
  }
}

#site-project > section .container .more-action a {
  display: block;
  font-size: 32rem;
  line-height: 1em;
  padding: 30rem 0;
  text-align: center;
  background-color: #333333;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .more-action a {
    font-size: 20px;
    padding: 16px 0;
  }
}

#site-project > section .container .more-action a:hover {
  border-color: #c7efb5;
  background-color: #425a37;
}

#site-project > section .container .more-action a ~ a {
  margin-top: 20rem;
}

@media screen and (min-width: 1100px) {
  #site-project > section .container .more-action a ~ a {
    margin-top: 30px;
  }
}

#site-project #project-main {
  background-image: url(../img/project/mobile/main_bg.jpg);
  background-position: center top;
  background-size: 750rem 940rem;
  padding-top: 60rem;
  padding-bottom: 60rem;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0;
    background-image: url(../img/project/desktop/main_bg.jpg);
    background-size: 1920px 420px;
    background-repeat: repeat-y;
    position: relative;
  }
}

#site-project #project-main .heading {
  text-align: center;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main .heading {
    position: absolute;
    right: 0;
    width: 115px;
    padding: 0 10px;
    z-index: 999;
  }
}

#site-project #project-main .heading .logo {
  width: 145rem;
  display: block;
  margin: 0 auto;
}

#site-project #project-main .heading .logo img {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main .heading .logo {
    width: 95px;
  }
}

#site-project #project-main .heading .title {
  color: #000;
  font-size: 36rem;
  display: inline-block;
  padding: 15rem 35rem;
  font-weight: bold;
  margin: 25rem auto 30rem auto;
  position: relative;
}

#site-project #project-main .heading .title::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 2rem 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main .heading .title {
    margin-top: 15px;
    font-size: 36px;
    width: 66px;
    padding: 0;
    line-height: 1em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #site-project #project-main .heading .title::before {
    height: calc(100% + 10px);
    border-width: 0 2px;
  }
}

#site-project #project-main #slider-wrapper {
  background-image: url(../img/project/mobile/slider_bg.jpg);
  background-position: bottom center;
  background-size: 750rem 429rem;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper {
    background-image: url(../img/project/desktop/slider_bg.jpg);
    background-size: 1920px 278px;
  }
}

#site-project #project-main #slider-wrapper #project-sign {
  width: 124rem;
  height: 372rem;
  left: 65rem;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-sign {
    width: 445px;
    height: 185px;
    left: 0;
    margin-top: 0;
    top: 80px;
  }
}

#site-project #project-main #slider-wrapper #project-sign .sign {
  line-height: 1.2em;
  width: 124rem;
  height: 372rem;
  background-image: url(../img/project/mobile/main-sign.png);
  background-size: 124rem 372rem;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60rem;
  padding-right: 18rem;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-sign .sign {
    background-image: url(../img/project/desktop/sign.png);
    background-size: 63px 187px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    width: 63px;
    height: 187px;
    font-size: 16px;
    padding-top: 33px;
    padding-right: 8px;
    color: #603813;
  }
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-sign {
    pointer-events: inherit;
    padding-left: 5px;
    padding-right: 5px;
  }
  #site-project #project-main #slider-wrapper #project-sign .swiper-wrapper {
    direction: rtl;
  }
  #site-project #project-main #slider-wrapper #project-sign .swiper-wrapper > * {
    direction: ltr;
  }
  #site-project #project-main #slider-wrapper #project-sign .swiper-wrapper .swiper-slide-thumb-active .sign,
  #site-project #project-main #slider-wrapper #project-sign .swiper-wrapper .sign:hover {
    background-image: url(../img/project/desktop/sign-active.png);
    color: #fff;
  }
}

#site-project #project-main #slider-wrapper #project-slider {
  margin-left: -40rem;
  margin-right: -40rem;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-slider {
    margin-left: -10px;
    margin-right: -10px;
  }
}

#site-project #project-main #slider-wrapper #project-slider .slider {
  position: relative;
  height: 750rem;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-slider .slider {
    height: 613px;
  }
}

#site-project #project-main #slider-wrapper #project-slider .slider .main-detail {
  width: 455rem;
  padding-left: 5rem;
  margin-right: 75rem;
  margin-left: auto;
  font-size: 28rem;
  text-align: justify;
  font-weight: bold;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-slider .slider .main-detail br {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-slider .slider .main-detail {
    width: auto;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 150px;
    margin-right: 0;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 22px;
    line-height: 2.5em;
  }
}

#site-project #project-main #slider-wrapper #project-slider .slider .main-image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#site-project #project-main #slider-wrapper #project-slider .slider .main-image img {
  display: block;
}

#site-project #project-main #slider-wrapper #project-pagination {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: inherit;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-pagination {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

#site-project #project-main #slider-wrapper #project-pagination .swiper-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100rem;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-pagination .swiper-controls {
    height: 82px;
  }
}

#site-project #project-main #slider-wrapper #project-pagination .slider-prev,
#site-project #project-main #slider-wrapper #project-pagination .slider-next {
  position: static;
  top: auto;
  margin: 0 15rem;
  outline: none;
}

#site-project #project-main #slider-wrapper #project-pagination .slider-prev::after,
#site-project #project-main #slider-wrapper #project-pagination .slider-next::after {
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 44rem;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-pagination .slider-prev::after,
  #site-project #project-main #slider-wrapper #project-pagination .slider-next::after {
    font-size: 26px;
  }
}

#site-project #project-main #slider-wrapper #project-pagination .swiper-pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-project #project-main #slider-wrapper #project-pagination .swiper-pagination .swiper-pagination-bullet {
  margin: auto 15rem;
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border: 2rem solid #fff;
  outline: none;
  opacity: 1;
}

@media screen and (min-width: 1100px) {
  #site-project #project-main #slider-wrapper #project-pagination .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: auto 13px;
  }
}

#site-project #project-main #slider-wrapper #project-pagination .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #496e43;
}

#site-project #novelty {
  background-image: url(../img/project/mobile/novelty.jpg);
  background-size: 750rem 769rem;
}

@media screen and (min-width: 1100px) {
  #site-project #novelty {
    background-image: url(../img/project/desktop/novelty.jpg);
    background-size: 1920px 600px;
  }
}

#site-project #novelty .detail {
  color: #fff;
  text-shadow: 2rem 0 10rem #828282, -2rem 0 10rem #828282, 0 2rem 10rem #828282, 0 -2rem 10rem #828282, 1rem 1rem #828282, -1rem -1rem 0 #828282, 1rem -1rem 0 #828282, -1rem 1rem 0 #828282;
}

@media screen and (min-width: 1100px) {
  #site-project #novelty .detail {
    color: inherit;
    text-shadow: none;
  }
}

#site-project #garage {
  background-image: url(../img/project/mobile/garage.jpg);
  background-size: 750rem 768rem;
}

@media screen and (min-width: 1100px) {
  #site-project #garage {
    background-image: url(../img/project/desktop/garage.jpg);
    background-size: 1920px 600px;
  }
}

#site-project #garage .detail {
  color: #fff;
  text-shadow: 2rem 0 10rem #828282, -2rem 0 10rem #828282, 0 2rem 10rem #828282, 0 -2rem 10rem #828282, 1rem 1rem #828282, -1rem -1rem 0 #828282, 1rem -1rem 0 #828282, -1rem 1rem 0 #828282;
}

@media screen and (min-width: 1100px) {
  #site-project #garage .detail {
    color: inherit;
    text-shadow: none;
  }
}

#site-project #newyear {
  background-image: url(../img/project/mobile/newyear.jpg);
  background-size: 750rem 770rem;
}

@media screen and (min-width: 1100px) {
  #site-project #newyear {
    background-image: url(../img/project/desktop/newyear.jpg);
    background-size: 1920px 600px;
  }
  #site-project #newyear > .container > .section-title {
    color: #fff;
  }
  #site-project #newyear > .container > .section-title span.icon svg {
    fill: #fff;
  }
}

#site-project #newyear .detail {
  color: #fff;
  text-shadow: 2rem 0 10rem #828282, -2rem 0 10rem #828282, 0 2rem 10rem #828282, 0 -2rem 10rem #828282, 1rem 1rem #828282, -1rem -1rem 0 #828282, 1rem -1rem 0 #828282, -1rem 1rem 0 #828282;
}

#site-project #documentary {
  background-image: url(../img/project/mobile/documentary.jpg);
  background-size: 750rem 770rem;
}

@media screen and (min-width: 1100px) {
  #site-project #documentary {
    background-image: url(../img/project/desktop/documentary.jpg);
    background-size: 1920px 600px;
  }
}

#site-project #club {
  background-image: url(../img/project/mobile/club.jpg);
  background-size: 750rem 770rem;
}

@media screen and (min-width: 1100px) {
  #site-project #club {
    background-image: url(../img/project/desktop/club.jpg);
    background-size: 1920px 600px;
  }
}

#site-project #photo {
  background-image: url(../img/project/mobile/photo.jpg);
  background-size: 750rem 768rem;
}

@media screen and (min-width: 1100px) {
  #site-project #photo {
    background-image: url(../img/project/desktop/photo.jpg);
    background-size: 1920px 600px;
  }
}

#site-project > #garage .container .section-title,
#site-project > #garage .container .detail,
#site-project > #garage .container .more-action,
#site-project > #documentary .container .section-title,
#site-project > #documentary .container .detail,
#site-project > #documentary .container .more-action,
#site-project > #photo .container .section-title,
#site-project > #photo .container .detail,
#site-project > #photo .container .more-action {
  left: auto;
  right: 0;
  margin-left: auto;
  margin-right: 0;
}
/*# sourceMappingURL=project.css.map */